#backForm {
    padding:10px 0 20px 0;
    width:750px;
}
#backForm input:not([type=submit]), #backForm textarea, #backForm select {
    border:1px solid #c0c0c0;
    font-family:Tahoma, "Times New Roman";
    font-size:11px;
    height:23px;
    line-height:23px;
    width:350px;
    padding:0 5px 0 5px;
    vertical-align:middle;
}
#backForm select {
    height:23px;
    line-height:23px;
    width:361px;
    padding:2px;
    vertical-align:middle;
}
#backForm a.tooltip {
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    width:16px;
    height:16px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    margin-left:10px;
}
#backForm a.tooltip:hover {
    background-position:-64px 0px;
}
#backForm a.tooltip {
    background-position:-64px -16px;
}
.radioGroup {
    width:364px !important;
    float:left;
    padding:0;
    margin:0;
}
ul.radioGroup:hover {
    background-color:transparent;
}
ul.radioGroup li {
    width:160px;
    float:left;
    display:block;
}
.radioGroup label {
    width:80px;
    float:left;
    line-height:18px;
    vertical-align:middle;
    margin:0 !important;
    padding:0 0 0 3px !important;
    font-weight:normal !important;
    z-index:2;
}
.radioGroup.short label {
    width:42px;
}
.radioGroup input {
    border:none !important;
    display:block;
    float:left;
    width:16px !important;
    height:16px !important;
    line-height:16px;
    vertical-align:middle;
}
#backForm textarea {
    height:100px;
}
#backForm label {
    display:block;
    font-weight:bold;
    color:#5d5d5d;
    margin:15px 0 5px 0;
    padding:0 0 0 20px;
}
.tipBox {
    background-color:#fbfbfb;
    border:1px solid #c4c4c4;
    padding:10px 20px 20px 20px;
    position:absolute;
    top:15px;
    right:0;
    margin:60px 0 0 0;
    width:260px;
}
.hideTipsLink {
    position:absolute;
    top:-1px;
    right:-1px;
    z-index:2;
    background-color:#FFFFFF;
    border-bottom:1px solid #c4c4c4;
    border-left:1px solid #c4c4c4;
    width:160px;
    height:38px;
    line-height:38px;
    padding-left:8px;
    vertical-align:middle;
}
.tipBox h3 {
    margin:0;
    padding:0;
    float:left;
    line-height:16px;
    vertical-align:middle;
    margin-left:10px;
    color:#5d5d5d;
    text-transform:uppercase;
}
#tipsText {
    padding-top:30px;
}
.tipBox ol {
    margin:0;
    padding:0;
}
.tipBox ol li {
    margin-left:20px;
    list-style:decimal;
}
a#tips, a#tips:link, a#tips:visited {
    text-decoration:underline;
}
a#tips:hover {
    text-decoration:none;
}
.formSubmit {
    width: 100%;
}
.errorMessage,
.errorSummary {
    color: red;
}
.gmaps {
    margin: 10px;
}
.short-text {
    width: 150px !important;
}

.form_line {
	border: 1px solid gainsboro;
	padding: 3px;
	margin: 3px;
}

.form_line .row {
	display: inline-block;
	/*width: 200px;
	margin-right: 20px;*/
}
.form_line .row input {
	width: 150px;
}
/*.form_line ???,
#properties .field_value {
    width: 150px !important;
    float: left;
    padding: 0 20px;
}*/
.add-period-btn,
.add-property-btn {
    margin: 39px 0 0 0;
}
#link {
    cursor: pointer;
}
.photos {
    margin: 20px 10px;
}
.photos img {
    width: 200px;
}
.photos img:hover {
    border: 1px red solid;
}

/***********ORDERS*************/
.order-item {
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 2px -1px;
    margin: 10px;
    padding: 5px;
    font-size: 120%;
}
.order-item .amount {
    display: inline-block;
    width: 4%;
    text-align: right;
}
.order-item .name {
    display: inline-block;
    width: 90%;
    text-align: left;
}
.order-item .delete {
    display: inline-block;
    width: 16px;
    text-align: center;
    background: url('../images/sprite.png') no-repeat -16px -16px;
}
.order-item .delete:hover {
    cursor: pointer;
    background: url('../images/sprite.png') no-repeat -16px 0;
}
.row.buttons {
    margin-top: 20px;
}