body {
    background:url(../images/login_background.gif) repeat-x;
    color: #747172;
    font-family: "Tahoma", Helvetica, sans-serif;
    font-size: 11px;
}
.header {
    height:250px;
    padding-top:75px;
}
.volume {
    color:#FFFFFF;
    position:relative;
    z-index:1;
    margin-top:-35px;
    margin-left:185px;
}
.main {
    width:253px;
    margin:auto;
    padding-bottom:20px;
}
.main label {
    display:block;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:12px;
    vertical-align:middle;
    padding:10px 0 5px 0;
}
.main input {
    display:block;
    width:240px;
    padding:5px;
    border:1px solid #c0c0c0;
    background-image:url(../images/login_input_bg.gif);
    background-repeat:repeat-x;
    height:19px;
    font-family: "Trebuchet Ms", Tahoma, Helvetica, sans-serif;
    font-size:14px;
    color:#6d6d6d;
}
.main input:focus {
    background-image:none;
    background-color:#e8e9ec;
    color:#000000;
}
input.submit {
    width:74px;
    height:26px;
    padding:0;
    margin:0;
    border:none;
    background-image:url(../images/login_button.png);
    background-repeat:no-repeat;
    background-color:transparent;
    float:right;
    margin-top:15px;
}
input.submit:hover {
    cursor:pointer;
    background-image:url(../images/login_button.png);
    background-repeat:no-repeat;
    background-color:transparent;
}
.remember_me {
    width:120px;
    float:left;
    padding:15px 0 15px 0;
}
.remember_me label {
    float:left;
    line-height:15px;
    padding:0 0 5px 10px;
    margin:0;
    color:#9f9d9d;
    text-transform:none;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size:11px;
}
.remember_me input {
    background-image:none;
    width:1.2em;
    height:1.2em;
    padding:0;
    margin:0;
    text-indent:0;
    float:left;
    border:none;
    color:#6d6d6d;
}
.icon16 {
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    width:16px;
    height:16px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
}
em.userSprite {
    background-position:-192px -16px;
    margin:0 10px 0 8px;
}
em.userSprite:hover {
    background-position:-192px 0px;
}
em.passwordSprite {
    background-position:-224px -16px;
    margin:0 10px 0 8px;
}
em.passwordSprite:hover {
    background-position:-224px 0px;
}
.footer {
    width:380px;
    margin:auto;
    border-top:1px solid #d4d4d4;
    line-height:32px;
    padding:15px 30px 0 30px;
}
.footer p {
    display:block;
    float:left;
}
a#forgot, a#forgot:link, a#forgot:visited, a#forgot:active {
    color:#9f9d9d;
    text-decoration:underline;
}
a#forgot:hover {
    color:#666666;
    text-decoration:none;
}
form#forgetMyPass {
    display:none;
    padding-top:10px;
}
.forgot_submit {
    background-image:none !important;
    background-color:#8d8d8d !important;
    color:#FFFFFF !important;
    padding:0 !important;
    margin-top:10px !important;
    float:right !important;
    width:140px !important;
    font-size:11px !important;
    height:23px !important;
    border:1px solid #7e7e7e;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.forgot_submit:hover {
    cursor:pointer;
}
label.error {
    display:block;
    position:relative;
    margin-top:-30px;
    margin-left:260px;
    z-index:2;
    width:250px;
    font-size:9px;
    color:#FF8282;
}
em.neliosLogo {
    display:block;
    line-height:32px;
    vertical-align:middle;
    width:80px;
    height:32px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    float:right;
}
em.neliosWhite {
    background-position:bottom right;
}
em.neliosBlack {
    background-position:bottom left;
}
