html {
    height:100%;
    margin:0;
}
body {
    font: 100% Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000000;
    height:100%;
}
.volume {
    color:#FFFFFF;
    position:relative;
    z-index:1;
    margin-top:-42px;
    margin-left:370px;
    font-size:11px;
    width:100px;
}
.twoColFixLtHdr #container {
    width: 100%;
    margin: 0;
    text-align: left;
    top:0;
}
#header {
    background:url(../images/main_bg.gif) repeat-x;
    height:81px;
    position:fixed;
    width:100%;
    top:0;
    z-index:2;
}
#header img {
    margin:15px 15px 15px 55px;
}
.twoColFixLtHdr #sidebar1 {
    float: left;
    background: #f1f1f1;
    position:fixed;
    top:81px;
    left:0;
    font-size:12px;
    border:1px solid #adadad;
    border-top:none;
    border-left:none;
    padding:10px;
    padding-right:0;
    width:180px;
    z-index:3;
}
div.white_box {
    background-color:#FFFFFF;
    position:relative;
    margin:23px 0 0 191px;
    z-index:2;
    padding-left:28px;
    height:55px;
}
.white_box h1 {
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    color:#5d5d5d;
    padding:14px 0 0 10px !important;
    margin:0 !important;
    vertical-align:bottom;
    line-height:18px;
    float:left;
}
.white_box img {
    padding:10px 0 0 0 !important;
    margin:0 !important;
    vertical-align:middle;
    line-height:18px;
    float:left;
}
div.top_arrow {
    display:block;
    width:12px;
    height:7px;
    background:url(../images/arrow_up.png) no-repeat;
    position:relative;
    margin:-61px 0 0 250px;
    z-index:2;
}
div.right_top_box {
    position:fixed;
    top:0;
    right:0;
    z-index:4;
    width:410px;
    height:100px;
    color:#FFFFFF;
}
.top_hold {
    height:67px;
}
.support_box {
    width:280px;
    float:left;
    margin-top:32px;
    margin-left:20px;
    vertical-align:middle;
}
.support_box span {
    line-height:14px;
    vertical-align:top;
    padding-left:10px;
}
.help_box {
    width:120px;
    background-color:#7c7c7b;
    padding:6px;
    line-height:18px;
    margin-top:25px;
    float:left;
}
.logged_box {
    background:url(../images/logged_bg.gif) repeat-x;
    border:1px solid #c6c6c6;
    position:relative;
    width:275px;
    height:49px;
    float:right;
    color:#5d5d5d;
    vertical-align:middle;
}
.logged_box a, .logged_box a:link, .logged_box a:visited {
    color:#5d5d5d;
    text-decoration:none;
}
.logged_box a:hover {
    color:#00CCFF;
    text-decoration:none;
}
.logged_box p {
    padding:20px 10px 10px 5px;
}
.help_box span, .help_box img {
    vertical-align:middle;
}
.arrow_help {
    margin-left:5px;
}
.help_box span {
    padding:0 5px 0 5px;
}
.twoColFixLtHdr #mainContent {
    margin: 0 0 0 220px !important;
    padding: 0 0 90px 0;
    width:750px;
    position:relative;
    top: 125px;
    z-index:1;
}
.twoColFixLtHdr #mainContentFull {
    margin: 0 20px 0 220px !important;
    padding: 0 0 90px 0;
    min-width:750px;
    max-width:1400px;
    position:relative;
    top: 125px;
    z-index:1;
}
.twoColFixLtHdr #footer {
    background:url(../images/footer_bg.gif) repeat-x;
    background-position:bottom;
    height:70px;
    bottom:0;
    left:0;
    position:fixed;
    width:100%;
    z-index:2;
}
.twoColFixLtHdr #footer .footer_menu {
    width:60%;
    margin: 0 0 0 20px;
    padding:30px 0 0 0;
    float:left;
}
.footer_hold {
    min-width:980px;
}
.copyright {
    width:35%;
    float:right;
    line-height:18px;
    padding-top:23px;
    color:#c8c8c8;
}
.copyright em {
    vertical-align:middle;
    padding-left:10px;
}
.footer_menu img {
    line-height:14px;
    vertical-align:top;
    padding-left:10px;
    padding-right:5px;
}
.footer_menu a, .footer_menu a:link, .footer_menu a:visited {
    color: #FFFFFF;
    text-decoration:none;
}
.footer_menu a:hover {
    color:#7DFF66;
    text-decoration:underline;
}
.fltrt {
    float: right;
    margin-left: 8px;
}
.fltlft {
    float: left;
    margin-right: 8px;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
a, a:link, a:visited {
    text-decoration: none;
    color:#5d5d5d;
}
a:hover {
    text-decoration: underline;
}
.icon16 {
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    width:16px;
    height:16px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
}
.help_box a, .help_box a:link, .help_box a:visited {
    color:#FFFFFF;
}
.help_box a:hover {
    text-decoration:none;
}
.help_box a:hover em.helpSprite {
    background-position:-64px 0px;
}
.help_box a em.helpSprite {
    background-position:-64px -16px;
}
a.helpLink:hover
{
    color:#7DFF66;
}
em.arrowSprite {
    background-position:0px -32px;
    margin-left:3px;
}
a.infoSprite:hover {
    background-position:-80px 0px;
}
a.infoSprite {
    background-position:-80px -16px;
    float:left;
}
em.supportSprite:hover {
    background-position:-96px 0px;
}
em.supportSprite {
    background-position:-96px -16px;
}
em.userSprite {
    background-position:-192px -16px;
    margin:0 5px 0 5px;
}
em.userSprite:hover {
    background-position:-192px 0px;
}
em.loggedSprite {
    background-position:-208px -16px;
    margin:0 5px 0 5px;
}
a:hover em.loggedSprite {
    background-position:-208px 0px;
}
em.neliosLogo {
    display:inline-block;
    line-height:32px;
    vertical-align:middle;
    width:80px;
    height:32px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
}
em.neliosWhite {
    background-position:bottom right;
}
em.neliosBlack {
    background-position:bottom left;
}
.topToolbar
{
    margin-bottom:5px;
}
.topToolbar a
{
    float:right;
}