.glossymenu {
    margin: 5px 0;
    padding: 0;
    width: 180px; /*width of menu*/
    overflow-x:hidden;
    overflow-y:auto;
}
.glossymenu li {
    background:transparent no-repeat 6px 4px;
}
.glossymenu small {
    display:block;
    font-size:9px;
    margin-left:25px;
}
.glossymenu li img {
    position:relative;
    z-index:2;
    float:left;
    margin:4px 0 0 4px;
}
.glossymenu a.menuitem {
    background:transparent no-repeat 5%;
    font: normal 12px "Tahoma", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: #5d5d5d;
    display: block;
    position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
    width: auto;
    padding: 6px 0;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
    font-weight:bold;
}
.glossymenu a.submenuheader {
    font-weight:bold;
    background:transparent url(../images/arrow_down_grey.png) no-repeat 95%;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active {
    color: #5d5d5d;
}
.glossymenu a.menuitem .statusicon { /*CSS for icon image that gets dynamically added to headers*/
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}
.glossymenu li:hover {
    background-color:#E1E1E1;
}
.glossymenu li.submenu { /*DIV that contains each sub menu*/
    background: transparent;
}
.glossymenu li.submenu ul { /*UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.glossymenu li.submenu ul li {
    border-bottom: 1px solid #e6e6e6;
}
.glossymenu li.submenu ul li a {
    display: block;
    background:transparent url(../images/menu_arrow.png) no-repeat 17%;
    font: normal 12px "Tahoma", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: #5d5d5d;
    text-decoration: none;
    padding: 6px 0;
    padding-left: 45px;
}
.glossymenu ul:hover {
    background-color: #f1f1f1;
}
.glossymenu li em {
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    width:16px;
    height:16px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    margin-right:5px;
}
.glossymenu li em.hotels {
    background-position:-288px -16px;
}
.glossymenu li:hover em.hotels {
    background-position:-288px 0px;
}
.glossymenu li em.dashboard {
    background-position:-240px -16px;
}
.glossymenu li:hover em.dashboard {
    background-position:-240px 0px;
}
.glossymenu li em.users {
    background-position:-256px -16px;
}
.glossymenu li:hover em.users {
    background-position:-256px 0px;
}
.glossymenu li em.destinations {
    background-position:-272px -16px;
}
.glossymenu li:hover em.destinations {
    background-position:-272px 0px;
}
.glossymenu li:hover em.faqs {
    background-position:-64px 0px;
}
.glossymenu li em.faqs {
    background-position:-64px -16px;
}
.glossymenu li em.pages {
    background-position:-304px -16px;
}
.glossymenu li:hover em.pages {
    background-position:-304px 0px;
}
.glossymenu li em.bookings {
    background-position:-320px -16px;
}
.glossymenu li:hover em.bookings {
    background-position:-320px 0px;
}
ul.help_menu {
    display:none;
    margin-top:10px;
}
ul.help_menu a, ul.help_menu a:link, ul.help_menu a:visited {
    display:block;
    padding:1px;
    padding-left:5px;
    color:#CCCCCC;
    text-decoration:none;
}
ul.help_menu a:hover {
    background-color:#666666;
    color:#FFFFFF
}
.spriteMenu a em {
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    width:16px;
    height:16px;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    margin-right:5px;
}
.footer_menu a {
    margin-right:13px;
}
.spriteMenu a:hover {
    text-decoration:none;
    color:#7DFF66;
}
.spriteMenu a em.support_icon {
    background-position:-112px -16px;
}
.spriteMenu a:hover em.support_icon {
    background-position:-112px 0px;
}
.spriteMenu a em.ticket_icon {
    background-position:-128px -16px;
}
.spriteMenu a:hover em.ticket_icon {
    background-position:-128px 0px;
}
.spriteMenu a em.suggest_icon {
    background-position:-144px -16px;
}
.spriteMenu a:hover em.suggest_icon {
    background-position:-144px 0px;
}
.spriteMenu a em.report_icon {
    background-position:-160px -16px;
}
.spriteMenu a:hover em.report_icon {
    background-position:-160px 0px;
}
.spriteMenu a em.support_videos_icon {
    background-position:-176px -16px;
}
.spriteMenu a:hover em.support_videos_icon {
    background-position:-176px 0px;
}
