﻿ul.pages {
    display:block;
    border:none;
    text-transform:uppercase;
    font-size:10px;
    margin:7px;
    padding:0;
    padding:0;
    float:right;
    color:#666666;
}
ul.pages li {
    list-style:none;
    float:left;
    border:1px solid #c0c0c0;
    text-decoration:none;
    margin:0 5px 0 0;
    padding:0 2px 0 2px;
    font-weight:bold;
}
ul.pages li:hover {
    border:1px solid #c0c0c0;
    background-color:#666666;
    cursor:pointer;
    color:#FFFFFF !important;
}
ul.pages li.pgEmpty {
    border:1px solid #c0c0c0;
    color: #666666;
}
ul.pages li.pgCurrent {
    border:1px solid #666666;
    color: #FFFFFF;
    font-weight:700;
    background-color:#666666;
}
