.tableTop, .tableBottom {
    background-color:#f9f9f9;
    border:1px solid #c0c0c0;
}
table {
    width: 100%;
}
table.items {
    color: #747172;
    font-family:Trebuchet, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    border-right:none;
}
table.items tr td {
    border-top-style: solid;
    border-top-width:1px;
    border-top-color:#e8e8ec;
    border-right-style: solid;
    border-right-width:1px;
    border-right-color:#e8e8ec;
}
table.items tr td.tools {
    border-right-style: none;
    width:95px;
}
table.items tr th {
    text-align: left;
    padding:7px 7px 3px 7px;
    background-image:url(../images/table_bg.gif);
    background-repeat:repeat-x;
    background-position:bottom;
    background-color:#f9f9f9;
    border:1px solid #c0c0c0 !important;
}
table.items tr td {
    padding:7px;
    vertical-align:middle;
}
table.items tr th {
    border-right-style: solid;
    border-right-width:1px;
    border-right-color:#e8e8ec;
}
table.items tr.TableOddRow, table.items tr.TableEvenRow {
    display:table-row;
}
table.items tr.TableOddRow:hover td {
    background-color: #f1f1f1;
}
table.items tr.TableEvenRow:hover td {
    background-color: #f1f1f1;
}
.myButton {
    display:block;
    font-weight:bold;
    background-color: transparent;
    color:#7e7e7e;
    padding:0 5px 1px 25px;
    background-image:url(../images/save_icon.png);
    background-repeat:no-repeat;
    background-position:5% 50%;
    margin:9px;
    float:left;
    width:auto;
    font-size:9px;
    text-transform:uppercase;
    border:none;
    height:25px;
}
.myButton:hover {
    text-decoration:none;
    color: #0033FF;
    cursor:pointer;
}
.topToolbar a, .topToolbar a:link, .topToolbar a:visited, .topToolbar .specTextLabel
{
    display:block;
    padding:5px;
    line-height:16px;
    height:16px;
    vertical-align:middle;
    text-transform:uppercase;
    font-size:8px;
    font-weight:bold;
}
.topToolbar .specTextLabel {
    display: inline;
}
.topToolbar a:hover
{
    color: #009900;
    text-decoration:none;
}
.topToolbar a em.addItem
{
    background-position:0px -16px;
    margin-right:5px;
}
.topToolbar a:hover em.addItem
{
    background-position:0px 0px;
}
.topToolbar a em.deleteAll
{
    background-position:-16px -16px;
    margin-right:5px;
}
.topToolbar a:hover em.deleteAll
{
    background-position:-16px 0px;
}
.results {
    width:150px;
    float:left;
    margin:8px;
    color:#666666;
}
td.button-column input {
    display:block;
    float:left;
}
td.button-column a, td.button-column a:link, td.button-column a:visited {
    display:block;
    float:left;
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url(../images/sprite.png);
    margin:1px 8px 0 0;
}
td.button-column a.delete:hover {
    background-position:-16px 0px;
}
td.button-column a.delete {
    background-position:-16px -16px;
}
td.button-column a.duplicate:hover {
    background-position:-32px 0px;
}
td.button-column a.duplicate {
    background-position:-32px -16px;
}
td.button-column a.edit:hover {
    background-position:-48px 0px;
}
td.button-column a.edit {
    background-position:-48px -16px;
}
td.button-column a.complete:hover {
    background-position:-144px 0px;
}
td.button-column a.complete {
    background-position:-144px -16px;
}
td.button-column a.next:hover {
    background-position:-336px 0px;
}
td.button-column a.next{
    background-position:-336px -16px;
}
td.button-column a.previous:hover {
    background-position:-352px 0px;
}
td.button-column a.previous{
    background-position:-352px -16px;
}
td.button-column a.view:hover {
    background-position:-320px 0px;
}
td.button-column a.view{
    background-position:-320px -16px;
}
.grid-view table.items th a.asc
{
    background:url(../images/sprite.png) 0 -48px no-repeat;
    padding-left: 20px;
}

.grid-view table.items th a.desc
{
    background:url(../images/sprite.png) 0 -32px no-repeat;
    padding-left: 20px;
}
.update img:hover {
    
}
.grid-count-column {
    width: 4%;
    text-align: right;
}
.grid-amount-column,
table.items tfoot tr:last-child {
    width: 12%;
    text-align: right;
}
.grid-15-column {
    width: 15%;
}
.grid-70-column {
    width: 70%;
}
.tableTop .header {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.grey {
    color: #000 !important;
}